<nav class="container border border-dark" style= "margin-top: 20px;">
  <div class="d-flex justify-content-around" style= "margin-top: 15px;">
    <h3> Saldo R$ <%= @account.ballance %> </h3>
  </div><br />

  <div class="d-flex justify-content-around">
    <h3>Extrato</h3>
  </div><br />
    <%= render 'transactions/extract_form' %>
  <div class="d-flex justify-content-around">
    <div class="btn btn-outline-info border-dark">
      <%= link_to 'Depósito', new_user_account_transaction_path(user_id: current_user.id, account_id: @account.id, kind: :deposit) %>
    </div>
    <div class="btn btn-outline-info border-dark">
      <%= link_to 'Saque', new_user_account_transaction_path(user_id: current_user.id, account_id: @account.id, kind: :withdraw) %>
    </div>
    <div class="btn btn-outline-info border-dark">
      <%= link_to 'Transferência', new_user_account_transaction_path(user_id: current_user.id, account_id: @account.id, kind: :transfer) %>
    </div>
  </div><br />

  <div>
    <%= render 'transactions/list', transactions: @account.transactions%>
  </div>
</nav>
